---
import "../styles/main.scss";
import FavIcon from './../assets/images/icons/favicon.ico';
const { title } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="The Blew-Stew Wedding 2026" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href={FavIcon} />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>