---

---

<div>
    <h2>Nifty Giftys!</h2>
    <p>
        We're not expecting any gifts. Your presence truly means the most to us. 
        However, if you're feeling generous then a contribution to our honeymoon fund will be greatly appreciated.
    </p>
</div>

<style>
    h2 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
        font-style: italic;
    }
</style>