---

---

<div>
    <h2>Am I underdressed?</h2>
    <p class="code__strapline">
        The aim is for a <span>formal...ish</span> vibe. 
    </p>
    <p>Aim for the sweet spot between "I tried" but "not too much".
    Think of wearing a suit but not a waistcoat vibes. But choose wisely, because there will be lots of carbs!</p>
    <p><span>Please, no white, cream or blush.</span></p>
</div>

<style>
    div {
        text-align: center;
    }
    h2 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
        font-style: italic;
        color: #ffffff;
    }

    p {
        margin-bottom: 0.5em;
        color: #ffffff;
    }

    .code__strapline {
        span {
            font-weight: bold;
            font-style: italic;
            color: #ffffff;
        }
    }
</style>