---
import Image from 'astro/components/Image.astro';
import LayoutImg from '../assets/images/bgs/layout.webp';
---

<div>
    <h2>Frequently Asked Questions</h2>
    <p>Here are some of the most frequently asked questions about the wedding day.</p>
    <details open>
        <summary>        
            <div>
            <h3 class="collapsible-summary-title">Are you accepting gifts?</h3>
            </div>
        </summary>
        <div class="collapsible-content">
            <p>
                Your presence truly means the most to us. However, 
                if you're feeling generous then a contribution to our honeymoon fund will be greatly appreciated.
            </p>
        </div>
    </details>
    <details>
        <summary>        
            <div>
            <h3 class="collapsible-summary-title">Will the wedding be indoors or outside?</h3>
            </div>
        </summary>
        <div class="collapsible-content"><p>The entirety of the evening will be indoors.</p></div>
    </details>
    <details>
        <summary>        
            <div>
            <h3 class="collapsible-summary-title">How do I get in?</h3>
            </div>
        </summary>
        <div class="collapsible-content">
            <p>
                You can enter the premises via the East (High Street) & West (Upper Dock Street) entrances. 
                The West entrance will be locked after 21:00, please use the West stairwell/lift to reach the second floor as marked on the venue map.
            </p>
            <div class="img__container">
                <Image src={LayoutImg} alt="Venue Map" loading='lazy' />
            </div>
        </div>
    </details>
    <details>
        <summary>        
            <div>
            <h3 class="collapsible-summary-title">What payment options are available?</h3>
            </div>
        </summary>
        <div class="collapsible-content">
            <p>
                The market is completely cashless. Please ensure you have alternative payment methods available. 
                This could be via Debit/Credit Card or contactless payments via mobile device.
            </p>
        </div>
    </details>
    <details>
        <summary>        
            <div>
            <h3 class="collapsible-summary-title">I have additional needs, what should I do?</h3>
            </div>
        </summary>
        <div class="collapsible-content"><p>The market is fully accessible with a lift to the second floor along with all necessary facilities on the same floor.</p></div>
    </details>
    <details>
        <summary>        
            <div>
            <h3 class="collapsible-summary-title">My dietary requirements have changed. Can I amend my info?</h3>
            </div>
        </summary>
        <div class="collapsible-content">
            <p>
                Unfortunately at this point everything is booked in and no amendments can be made.
            </p>
        </div>
    </details>
    <details>
        <summary>        
            <div>
            <h3 class="collapsible-summary-title">Can I bring a plus-one or a child?</h3>
            </div>
        </summary>
        <div class="collapsible-content"><p>We are sorry, but plus-ones and children are not permitted.</p></div>
    </details>
    <details>
        <summary>        
            <div>
            <h3 class="collapsible-summary-title">I've been given conflicting timescales. What time do I need to arrive?</h3>
            </div>
        </summary>
        <div class="collapsible-content"><p>We are hosting a small gathering due to start at 14:00, those attending will be notified.</p></div>
    </details>
</div>

<style>
    h2 {
        font-size: 1.5em;
        font-style: italic;
        line-height: 1.6rem;
        margin-bottom: 1em;
    }

    details {
        border: 1px solid #354a2f; 
        background-color: #354a2f;
        display: block;
        max-width: 42em;
        margin: 0.5em ;
    }

    summary {
        cursor: pointer;
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .img__container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        img {
            width: 50%;
            height: auto;
        }
    }

    h3.collapsible-summary-title {
        font-size: 1.4rem;
        color: #ffffff;
        text-align: start;
    }
    .collapsible-summary-description {
        margin-top: .5rem;
    }

    details > .collapsible-content {
        padding: 1rem; 
        font-size: 1.4rem;
        border-top: 1px solid #5c724a;
        background-color: #5c724a;
        color: #ffffff;
        text-align: start;
    }

    /* Remove the summary element's default small collapsing arrow marker on the left, which points right to replace it with a better one positioned on the right and pointing down)*/
    details>summary::marker, details>summary::-webkit-details-marker {
        display: none;
    }

    details>summary::-moz-list-bullet {
        list-style-type: none;
        list-style: none;
        display: none;
    }

    /* Create custom rotating down-up-arrow with an inline svg - replace with your own arrow if this caret isn't to your liking */
    details>summary:after {
        content: ' ';
        width: 4rem;
        height: 4rem;
        display: inline-block;
        transform: rotate(90deg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="4rem" height="4rem"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="%23ffffff" d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/></svg>');
    }

    /* Rotate the arrow when the collapsible is open */
    details[open] {
        border: #354a2f; 
        background-color: #5c724a;
    }

    details[open]>summary:after {
        transform: rotate(-90deg);
    }

    @media (max-width: 480px) {
        h3.collapsible-summary-title {
            font-size: 1.2rem;
        }

        details > .collapsible-content {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
</style>